/*-------PAGE BASICS-------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}
section {
    padding: 80px 0;
}
.row {
    width: 1140px;
    margin: 0 auto;
}
.background-text {
    font-size: 600%;
    font-weight: 400;
    color: rgba(198, 188, 188, 0.064);
    position:absolute;
    margin-top: 35px;
    z-index: -1;
    left: 50%;
    transform: translate(-50%, 0);
}
h1,h2,h3,h4,h5 {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
}
.long-text {
    color: #a6a3a3;
    font-size: 85%;
    line-height: 140%;
    word-spacing: 2px;
    padding-bottom: 20px;
}

h1 {
    font-size: 240%;
    line-height: 1.5;
    word-spacing: 4px;
}
h2 {
    font-size: 180%;
}
h3 {
    color: #f4a300;
}
h4 {
    font-size: 80%;
    margin: 10px 0;
}
h5 {
    font-size: 60%;
    color: #a6a3a3;
}
/*----BUTTON----*/
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    border: 1px solid #f4a300;
    transition: background-color 0.5s;
}
.btn-fill:link,
.btn-fill:visited {
    background-color: #f4a300;
    margin-right: 15px;
}
.btn-fill:hover,
.btn-fill:active {
    background-color: transparent;
}
.btn-transparent:hover,
.btn-transparent:active {
    background-color: #f4a300;
    border: 1px solid #f4a300;
}

/*----ICONS-BIG----*/
.icon-big {
    display: block;
    font-size: 60px;
    color: #f4a300;
    margin: 15px 0;
    text-align: center;
}

/*-------------------------*/
/*HEADER*/
/*-------------------------*/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url('./img/header_bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.header-text {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.highlighting-text {
    color: #ffbd39;
}

/*---MAIN NAVIGATION--*/
.logo {
    display: inline-block;
}
.logo h1 {
    margin:0;
}
.main-nav {
    float: right;
}
.main-nav li {
    list-style: none;
    display: inline-block;
    margin-top: 20px;
}
.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    margin-left: 25px;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 90%;
    padding-bottom: 6px;
    border-bottom: 1.5px solid transparent;
    transition: border-bottom 0.5s;
    letter-spacing: 2px;
    font-weight: 400;
}
.main-nav li a:hover,
.main-nav li a:active {
    padding-bottom: 6px;
    border-bottom: 1.5px solid #ffbd39;
}

/*-------------------------*/
/*ABOUT SECTION*/
/*-------------------------*/
.about-img {
    height: auto;
}
.about-title {
    margin: 15px 0;
}
.about-content-box {
    padding-top: 15px;
}
.about-details {
    margin-top: 30px;
}
.about-section .background-text {
    right: 50%;
}
.about-details li {
    list-style: none;
    margin: 30px 0;
    color: #a6a3a3;
    font-size: 85%;
    display: flex;
}
.about-details span:first-child {
    color: #fff;
    margin-right: 20px;
    width: 130px;
}
.about-details span:last-child {
    width: 100%;
}
.about-content-box div:last-of-type {
    padding-bottom: 40px;
}

/*-------------------------*/
/*RESUME*/
/*-------------------------*/
.resume-section h2 {
    text-align: center;
}
.resume-section .long-text {
    margin: 20px 0;
    text-align: center;
}

/*-------------------------*/
/*QUALIFICATIONS*/
/*-------------------------*/
.qualification-box {
    background-color: #191919;
    border-radius: 5px;
    padding: 20px;
}
.qualification-box p {
    text-align: left;
}

/*-------------------------*/
/*WHAT-I-DO*/
/*-------------------------*/

.what-i-do-section h2 {
    text-align: center;
}
.what-i-do-section .long-text {
    text-align: center;
    margin: 20px 0;
}
.service-box div {
    margin-bottom: 20px;
}
.service {
    padding: 20px;
    border-radius: 5px;
    background-color: #191919;
    cursor: pointer;
    margin-right: 20px;
}
.service .icon-big {
    color: #fff;
}
.service:hover,
.service:active {
    background-color: #f4a300;
}
.service h4 {
    text-align: center;
    margin-bottom: 40px;
}
.service h4::after {
    display: block;
    width: 60px;
    height: 1px;
    background-color: #f4a300;
    margin: 0 auto;
    margin-top: 20px;
    content: "";
}

/*-------------------------*/
/*MY SKILLS*/
/*-------------------------*/
.my-skills-section h2 {
    text-align: center;
}
.my-skills-section .long-text {
    margin: 30px 0;
    text-align: center;
}
.progress {
    position: relative;
    border-radius: 3px;
    background-color: #5a5a5a;
    margin-top: 20px;
}
.progress-bar {
    background: #f4a300;
    height: 10px;
    border-radius: 3px;
}
.progress span {
    position: absolute;
    top: -2rem;
    right: 0;
    font-weight: 500;
}
.skill:last-of-type {
    margin-bottom: 25px;
}